apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: bank-transaction-manager

resources:
- namespace.yaml
- configmap.yaml
- secret.yaml
- deployment.yaml
- hpa.yaml
- ingress.yaml